@model Matrip.Domain.Models.Entities.ma32sale
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section menu{
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-controller="Home" asp-action="About">Sobre</a></li>
    <!--<li><a href="listings.html">Listings</a></li>-->
    <!--<li><a href="blog.html">Notícias</a></li>-->
    <li><a asp-controller="Home" asp-action="Contact">Contato</a></li>
}
@section home{
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="../../images/contact.jpg" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title">Avalie Seus Passeios!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    
}
<div class="contact container_custom">
    <div class="container mt-5">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Nome do Passeio</th>
                        <th scope="col">Nome do Roteiro</th>
                        <th scope="col">Data do Passeio</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.ma21saleTrip.Count(); i++)
                    {
                        <tr>
                            <th>@Model.ma21saleTrip.ToList()[i].ma05trip.ma05name</th>
                            <th>@Model.ma21saleTrip.ToList()[i].ma22subtripsale.ToList().FirstOrDefault().ma14subtrip.ma14name</th>
                            <th>@Model.ma21saleTrip.ToList()[i].ma21date.ToString("dd/MM/yyyy")</th>
                            <th>
                                @if (Model.ma21saleTrip.ToList()[i].ma21date < DateConvert.HrBrasilia() && 
                                    Model.ma21saleTrip.ToList()[i].ma39tripEvaluation.Count() == 0)
                                {
                                    <a asp-action="EvaluateTrip" asp-controller="Feedback" asp-route-SaleTripID="@Model.ma21saleTrip.ToList()[i].ma21idSaleTrip">Avaliar</a>
                                }
                                else
                                {
                                    <p>-</p>
                                }
                            </th>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>


