@model X.PagedList.IPagedList<Matrip.Domain.Models.Entities.ma05trip>
@{
    ViewData["Title"] = "Passeios";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h1>ViewData["Title"]</h1>

