@{
    ViewData["Title"] = "Partners";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    List<ma25partner> partnerList = ViewBag.Partners;
}

<div class="mt-5">
    @{ await Html.RenderPartialAsync("~/Views/Shared/_Message.cshtml"); }

    <table class="table table-bordered">
        <tr>
            <td>Empresa</td>
            <td>CNPJ</td>
            <td>Email</td>
            <td>Status</td>
            <td>Ações</td>
        </tr>
        @if (partnerList != null)
        {
            @for (int i = 0; i < partnerList.Count; i++)
            {
                <tr>
                    <td>@partnerList[i].ma25name</td>
                    <td>@partnerList[i].ma25CNPJ</td>
                    <td>@partnerList[i].ma25email</td>
                    <td>
                        @if(partnerList[i].ma25status == "1")
                        { 
                            <p>Ativo</p>
                        }
                        else if(partnerList[i].ma25status == "0")
                        {
                            <p>Inativo</p>
                        }
                    </td>
                    <td> <a asp-area="Administrator" asp-controller="AdminPartner" asp-action="UpdatePartner" asp-route-PartnerID="@partnerList[i].ma25idpartner">Editar</a></td>
                </tr>
            }
        }


    </table>

</div>
<div class="mt-5">
    <a asp-area="Administrator" asp-controller="AdminPartner" asp-action="AddPartner" class="btn-success btn-lg">Adicionar Parceiro</a>
</div>