<div>
    <footer class="footer container_custom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer_container d-flex flex-md-row flex-column align-items-center justify-content-md-start justify-content-center">
                        <div>
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> MATrip.
                        </div>
                        <nav class="footer_nav ml-md-auto order-md-2 order-1">
                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="#">Sobre</a></li>
                                <!--<li><a href="listings.html">Listings</a></li>-->
                                <!--<li><a href="listings.html">Listings</a></li>-->
                                <li><a href="contact.html">Contato</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>